# OpenStack Provider Configuration
# Fill in your OpenStack credentials below

# os_auth_url = "http://YOUR_OPENSTACK_IP/identity"
# os_user_name = "YOUR_USERNAME"
# os_password = "YOUR_PASSWORD"
# os_tenant_name = "YOUR_TENANT_NAME"
# os_region_name = "YOUR_REGION_NAME"

# Path to the local CSV file
# csv_file_path = "vm.csv"

# Path to local SSH keys directory
# ssh_keys_path = "~/.ssh/"
